@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('Roboto/Roboto-Regular.ttf') format('woff2');
}
body {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	background-color: #000;
}
.view {
	position: fixed;
	background-color: #009688;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 43px;
}
.view:not(.view-active) {
	display: none;
}
.view-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: rgba(0,0,0,.2);
	margin: 0;
	padding-top: 10px;
	padding-bottom: 5px;
}
.view-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
button {
	margin: 20px;
	border: 0;
	padding: 20px;
	text-align: center;
}
button[disabled] {
	background-color: grey;
}
.button-continue {
	width: 95%;
	position: absolute;
	bottom: 5%;
	left: 2.5%;
	right: 2.5%;
	color: white;
	font: 24px 'Roboto', sans-serif;
	display: block;
	margin: auto;
}
input {
	background-color: rgba(0,0,0,0);
	border-style: none;
	border-bottom-style: solid;
	position: relative;
	width: 95%;
	top: 10%;
	height: 10%;
	font-size: 36px;
	outline: none;
	text-align: center;
}
.centered-block {
	display: block;
	margin: 10px auto;
}
.boring-list {
	list-style-type: none;
	padding: 0;
	width: 100%;
}
